{% extends "layout.html" %}

{% block title %}
    College Standings
{% endblock %}

{% block main %}
    <P align="center" style="font size: 20 px">
        <strong>
            <font size="6">
                Yale IMs College Standings
            </font>
        </strong>
    </p>
    <div>
    <h3>Overall Standings</h3>
    <table class="table table-striped">
        <thead>
            <th>College</th>
            <th>Points</th>
        </thead>
        <tbody>
            {% for row in overall %}
            <tr>
                <td width="25%">{{ row['college'] }}</td>
                <td width="25%">{{ row['SUM(points)'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr style="border-bottom: 2px solid #000;">

    <div>
    <h3>Soccer</h3>
    <table class="table table-striped">
        <thead>
            <th>College</th>
            <th>Points</th>
        </thead>
        <tbody>
            {% for row in soccer %}
            <tr>
                <td width="25%">{{ row['college'] }}</td>
                <td width="25%">{{ row['points'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr style="border-bottom: 2px solid #000;">

    <div class="w3-container">
    <h3>Table Tennis</h3>
    <table class="table table-striped">
        <thead>
            <th>College</th>
            <th>Points</th>
        </thead>
        <tbody>
            {% for row in tabletennis %}
            <tr>
                <td width="25%">{{ row['college'] }}</td>
                <td width="25%">{{ row['points'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr style="border-bottom: 2px solid #000;">

    <div>
    <h3>Volleyball</h3>
    <table class="table table-striped">
        <thead>
            <th>College</th>
            <th>Points</th>
        </thead>
        <tbody>
            {% for row in volleyball %}
            <tr>
                <td width="25%">{{ row['college'] }}</td>
                <td width="25%">{{ row['points'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr style="border-bottom: 2px solid #000;">

    <div>
    <h3>Pickleball</h3>
    <table class="table table-striped">
        <thead>
            <th>College</th>
            <th>Points</th>
        </thead>
        <tbody>
            {% for row in pickleball %}
            <tr>
                <td width="25%">{{ row['college'] }}</td>
                <td width="25%">{{ row['points'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr style="border-bottom: 2px solid #000;">

    <div>
    <h3>Cross Country</h3>
    <table class="table table-striped">
        <thead>
            <th>College</th>
            <th>Points</th>
        </thead>
        <tbody>
            {% for row in crosscountry %}
            <tr>
                <td width="25%">{{ row['college'] }}</td>
                <td width="25%">{{ row['points'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
