{% extends "layout.html" %}


{% block main %}

    <div>
        <h1>Eligibility</h1>
    </div>
    <div>
        <br>
        <p>All currently enrolled undergraduate students of Yale College are eligible for Intramural Sports, subject to the following restrictions:</p>
        <ol>
            <li>Current varsity athletes, or club athletes in the case where there is no varsity team, are ineligible for similar IM sports</li>
            <li>Any student who is a past or present Olympic, professional, or world ranked amateur is ineligible for similar sports</li>
            <li>A student signed into one game is ineligible to play in any other game at the same time</li>
            <li>A student who has not played in any regular season game is ineligible to play in the post-season for that sport</li>
            <li>There are special eligibility rules for the different levels of Basketball</li>
        </ol>
        <br>
        <p>Aside from undergraduate students, the following are eligible to participate in Intramurals, so long as they are eligible under the undergraduate requirements:</p>
        <ol>
            <li>The residential Heads of Colleges, Deans, their spouses and children of appropriate and safe age living in the college</li>
            <li>Fellows and Associate Fellows with current Yale ID</li>
            <li>One normally non-eligible male and female possessing a current Yale ID per season</li>
            <li>All participants must have passed a complete physical exam within the last three years, have proper health insurance, and agree to participate at their own risk</li>
        </ol>
        <br>
        <p>All eligibility inquires will be directed to the Ad Hoc IM Rules Committee.</p>
        <br>
        <p>Any captain or Intramural Secretary may protest the eligibility of an opposing player by filing a protest with the Head Intramural Secretary. If the opposing player is found to be ineligible, the offending team will be disqualified in all games in which the ineligible player has played. <i>Please note, if intramurals are held in Payne Whitney Gym and the participant is not a gym member, they will need to pay the guest fee or join the gym.</i></p>

{% endblock %}