{% extends "layout.html" %}


{% block main %}

    <div>
        <br>
        <h2>Employment</h2>
    </div>
    <br>
    <div max width="800" align=justify>
        <p>The success of the IM program is largely dependent on the quality of its sports officials. Well officiated contests and events enhance the quality of the program and the satisfaction of the participants. The IM program is continually looking for individuals who have a passion for sports and a willingness to take on a new type of leadership. IM officiating is a great way to stay connected with athletics and current trends in sports, along with earning a paycheck.</p>
        <p>Students interested in paid positions can submit an application to the intramural director, student referee coordinator or student supervisor coordinator via email (see Contact Us). Applicants should cite their sports experience, year in college, and position, sport(s) and season(s) desired. He or she must also provide full name and Net ID. They are then hired into Student Employment, assigned a schedule through their coordinator, and paid weekly after completing and submitting a timesheet through Student Employment each week. All supervisors and referees are required to know the rules of the sport they oversee.</p>
        <br>
        <p><b><font color="red">*NOTE:</font></b> Within the first few weeks of the season, all student supervisors and referees are required to complete a one-hour training class. Contact IM coordinator Elliott Taylor, elliott.taylor@yale.edu for signup.</p>
    </div>


{% endblock %}