{% extends "layout.html" %}


{% block main %}

    <div>
        <h1>Organization</h1>
    </div>
    <div>
        <br>
        <p>The Intramurals program is managed by the Director of Club Sports, Intramurals and the Outdoor Education Center, Tom Migdalski, M.S., who began working in Yale Athletics in 1984. The Director governs the program, hires supervisors and referees, processes weekly payroll, decides on new sports and eligibility rules with the IM Secretaries and Rules Committee, monitors safety, purchases equipment, is the liaison between the students and upper administration and oversees the execution of the program including facility acquisitions and weather decisions.</p>
        <p>The Director is assisted by the Coordinator of Graduate and Professional Intramurals, Elliott Taylor, who conducts referee and supervisor training clinics, monitors on-site staff and sports equipment, contributes oversight to special IM events and is the Yale Intramurals website administrator.</p>
        <p>Also crucial to the program is the Head IM Secretary, who is the student advisor to the Director, scores statistician, game and facility scheduler and IMLeagues.com webmaster, along with chairing the IM Secretaries meetings and electing the Rules Committee, which decides upon all questions, protests and rules updates arising from and for Intramural contests.</p>
        <p>On the field, the Intramural Program is represented by a group called the IM Supervisors. These students make sure that all games are run smoothly and answer to on-field problems such as rule queries, equipment problems, and injuries. Working underneath the Supervisors are the Intramural Referees. Referees hold the on-field officiating power and work to make sure that the individual games run smoothly. They also record all necessary information pertaining to the game and report scores to the Head IM Secretary/Webmaster.</p>
        <p>The main functional unit of the Yale Intramural program is the residential college. Each of the 14 colleges fields a team for all 30 current sports. The Intramural Secretaries run each college’s IM program. The main goal of the secretaries is to make sure that students within their college are participating in IM sports. In order to reach this goal, the secretaries name captains, organize IM study breaks, run sign-ups at the beginning of each season, and act as the liaison between the IM office and the residential college. Secretaries also attend a bi-weekly program meeting to discuss IM issues, which is chaired by the Head IM Secretary.</p>
    </div>

{% endblock %}