{% extends "layout.html" %}


{% block main %}

    <div>
        <h1>Yale Undergraduate Intramurals</h1>
        <br>
        <p>The Yale Undergraduate Intramural program provides an outlet for athletic competition for the Yale community. It is designed for maximum participation: one will find high school varsity athletes competing on the same team as PE dropouts. Teams are organized through the residential colleges, allowing any student to play any one of the 30 sports. While the goal of most athletes is to win the Tyng Cup, the award for excellence, the goals of the program stress the community of the residential colleges, the values of sportsmanship and fair play, and the lessons learned through competitive sports.</p>
    </div>
    <div>
        <br>
        <h2>History</h2>
        <p>Yale Intramurals saw their beginning in the early 20th century. These early contests were designed for non-varsity athletes to compete in athletic competitions. The teams were mainly classes.</p>
        <p>However, with the inauguration of the Residential College system in 1933, the Intramural program changed significantly. The teams changed from graduation classes to residential colleges in order to benefit from the closeness of the college communities. Also introduced during this year was the Tyng Cup, a gift from alumni George Adee, Sheldon Rose, and Malcolm Aldrich. The Tyng has been awarded annually since 1933 to the residential college that has won the greatest number of Tyng points at the end of the academic year.</p>
        <p>The tradition of the Harkness Cup Games, or the Yale College-Harvard House Games, started in the fall of 1935. These games pit the champions of the two intramural programs against one another, usually the day before The Game. The winner of the most games is awarded the Harkness Cup Trophy, which incidentally was lost in the mid-1970s.</p>
    </div>

{% endblock %}