{% extends "layout.html" %}


{% block main %}

    <div align="center">
        <h1>IM Athletes in Action</h1>
        <br>
        <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/dist/pa-embed-player.min.js" async></script>
        <div class="pa-embed-player" style="width:640px; height:480px; display:none;"
          data-link="https://photos.app.goo.gl/cJxkUjBQ8Xe69jRo6"
          data-title="Yale IMs"
          data-description="28 new photos · Album by Selena Lee"
          data-slideshow-delay="4">
          <img data-src="https://lh3.googleusercontent.com/6hkNFNgg2Jn07XAoA8S1s2ERk7-6iXDqxCgtK6KZ-E-Hvl8C4GOCj5GFTSY1ZMvcFhWJl45WE5kCLYhuqSNy6yMSc-EqLzMpNipD1HfVQjhzamnKo6Xn4Bmfy5ijANFeLuZMWfFUgQ=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/rwf4y2JMklV52J3NyhGOeLRYJ1qR3-FQebgm9iXAtkdfrGufvmWyKd7jkUs5kxmeILFb2ekUw6NI8a0QW0wN4yBRqQgK6Dcm6o_6CbJbaEwjnC5REZXm8paG8yJyMGCh0V5vMKMgPQ=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/ZPq7lSYw7xxIJ31CiCS-vKWImeAXkqcODzBjUGR4dM6DnzSFWazpof60JMNX8bSpHKXlnaLmDeAQ2sX9IJVqflSaVZQS2KKlJsSj7VOYG9k-OgYmmNOpL3Zt6ch7flBdGMvWzAo5zQ=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/NpzWDzNLkHmjqurk20DfeGdaa8I8zVHTIzrpY1FBoMvjoZHgAfpUxtSuRktZtElmXRUZryRchK7dlIZyzlYfiTxAQ3f0bS5PdO1Xjfv3j8b0QAd28AChLKwLk1DHaJwG5AmZe6Lfzg=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/MykymcWLu84-TjqjsGZL3jRd-fWRcGUOJPZyjNyJAojAmlpoPkjZxV06YNSdvOL_6pqgI771BqaXShP3yjbacC_0ZevVnjH13vofFKQBmCwC_dWFrzRKWZEBeDcIOuS6uSp9TNHb0g=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/xjK12TaoUsSXNXGp7X3ojDYClfjFcPcNZS35DBPDJ1OYdrK0j9qP2a31E_itBG6FSMyEDpmYkfVhmtNKybJD7IOgaG4nRyDHRrwNIieUyRjWSFQVvcwUjdaHHKuM9h9_B_lzAZXofg=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/T-ToMzwb4K7eQN6at9l0MMoOu7qphhsLmVQGo_jros8PpK_g1IzTG7cHD4Sks_HQaGRelbeTtp407wc1Ii8SxYfSWstEmzy_TIUeny9p4j_BW6k8Tmkf-bSZ82B-ecHvaXQJEgM1SQ=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/FBiB5PvUapblxo9O18AJgJPilC6SnDj3FYA6JR8Tu5Nrjiyd56neopTeGzTm3Cgy8CmixYH0Y7GsPllFeqLK5IGagsQZQjxZdHvbWdzE_NEBut0B7NXuqdlpjgSDS0nOgls6VGN5FQ=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/0CndZdgU5zvnBhOzWG2fQ7GVW2rkt8h5BYbVZvI2mHpeibsu0UmNjRy0LO5I746qw_3tyjS6gxJB3QuZNd_p55ibdQePrD95a7Oi2YoFZX3dUE0BbPLJX3mxJeSAb2INiabMFq404Q=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/3YzPhrLPoHJH6WpmSyk7Cx2A-HECQKT4M1Xc9tN311dL8zQ8MtKykOHXtZ2k1VgC6l2W2Avm59qQDWVz4JtIqRfDB0L21dTt2Orlzn1mk5qk1J8vGUJHpAfUsG8mYfb_-v_REB5yxg=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/zRJDLJyA9To_UqSzvJ6I_ZcDlsC0CujZ0zxYg55h1DlMxUvNpW4fsS68vMcXsMOqoisSc2-r7OEvX1-rdUo5LpCaP3t1O6JZzSWw3bJhUs-znlCJnL7IHFMFBAK1NOOEHG-tUuwung=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/qnFa15ImkRzJ934eKSKVlXyB2T1KLAhYrkQ_wn4ZveR5gjBY7feSpEnzIznjquEz0n1jiLKrpM4vDlhhpg4L_XjSPShkT3mxE9Lb5Ekw6jx8FMCDNXlU8exJE2BpyFFTX234PDOZNg=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/LmvwmTSrYvkPxLl1G-atG5ggU6TkJk5qOSiq8Y4TV3KUfNWdD572MYV5X4eX4BEyV2VuonaiISDLreKnJQobdfK7a3LRYyYnigeHllnA2u27eq_fPJJlwjRPjvZXEflrmEcKWFB--Q=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/F4zzREgPWvWhNBWqPczJxa9oA8EVGxzfCaHhTZz2RJPVlh4fWHAl9w8s6C_zRgbC7FYUWeaXjaKG0oo59o7Ix5tafSiJ1SfunIlde9BqbFCALJac3nCZ4tqbNECQ0TFSToVB8FTFUw=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/Z19CYY_vfwuXs4CQCopvydsjQWIEkRKAqNf-3zBjT-l_I0B5wPjMq2AdHonYFxNwi_F9-Ul2_H092q6hBX_S9cm5hXXdcSxQNTwxuUzT9GMCAhvaiDRHmfBWJt9xoWIz-eTQGSL3mQ=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/qqoXU23-oOgEv8csJ5nCTCj90sS0JB81-umFFHsRL5awHxnz9rzoaEBQ2FGiMKmYu8vqAFcmCPZ4MoLFkeRZSdv7NHfq_N24DXrPMDBJVH37Vks5e3TqkonuBg2N4FudjkaEPugKnQ=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/ebDRzcBDzCXcpuJLbmv8AGhETS_D0ySeUdqo0anM_EA4cCkbSoQzNW-zS70RvGJCipT1a9jPzuToizkD9stOY1RkYdVoYtejEeXi4bYfNOXHYHj9f0vo33tJraHv1PuRo76y0zlEaQ=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/dhEwyClze2cBOq9DHo4ip7ksOrRnSw8T4D1yQL77vZkT7k4oQ1V3t9COUxQm5aonmdBrOBYE78cP9OQ5O_yHORbnqdYrbNfrIMMoKuaj7alnm_hKt9f9f6TOkXdQj1tH91EXLhtosA=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/caOVPli63yfjO7hIVlHGMZWh-XFhAUCEZ8Rh_wymGYZYQCPyRKl9kHS3FBaHpHxcwxH3Yoma5cXeJW3kE76JV1jjI1UB6TLD8HeYqgh5ffN-ab9EEnP9I2oAzpon6Dg2ODdMv7SS2w=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/D3wBZ2HuIh4WjfwP4MUE-ciz-o1e003eD3YeWB5BHgb2TXVLfcqUjxg6M3neDtHDL3a_Ric63LAyUradliTbXdeeU-JB1-lGEK2vkUkvGLXsvilvEB82eTazAaKCb-GuZUhfL8IPFw=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/bY3VD81bLycUtfFy9puJF7N6g92fVigqE2c--beqcRI0rS8mSNrfIE-Dq206OW-Bsc64bMx_Ez668SbwSiA1yioAMne2MEXD6NreDcCTEPIPjm835szCKIvnoEiDMlKr45Y60hL2fA=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/bBlFCSHKpgOD1heXBOSi4p6Kk6w3YAu1KqyDVMndWmxixow-zCihlSJwxNWzVEFhlSijtaLWZXgroiyzheciU47qIr7jhwirZwsOUXQ1SgB9Fz65AqqehQtAmLiY7vK4Vjs1AEkTWQ=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/37QF5Yk8J5vv2emxsLLor4JXFGvb9cUJebjKczXiqwgjYhnDBIFlUfQKZZkYSyKdSpLnrNINnECvvZ6s9ZKVavt_YpGb6UAEZIQ0BxX5MBzuOSl5c8topBjwLDMca2hQDv2xeC5BBA=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/ZoPokNG7ICb5pEomrnhnEitcamBUwoerGcMV9c7e8CB-iW0BfxsmE08WwpJNrRcFTZzX1gD1c_gQa00zncdrmx15r0eqVDcB0jvUxmrjCEmK_13mXnlogcWN3KoKFXRwhuwAbiMBPg=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/I5f3ERrw8-dliOvcUWUUysbgE-HkGzT1sgjEIaO9mbBZqhehgb7B8jXKEFOIja-xuvipKEStM5_yNpi_7GbAzGiRh_cfFOj2T03T0IVLpmwiwgGmRFiP561igCR905r-MJ33OgWjQA=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/z873WyW7eIk0DC1yuh5S5hfj-yKQqpzgnsjvk3BCBiOjt9lQeA3op0nh1OQBhcYNpC9I164wyVrBdPC5VHE4USQJqaCIFAPFaaI_rYadNiEl5VnQUlhQQKnjh1MDchmp8Pk8c1fwnw=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/Ro9j6DyfXzbHC2oVUzedk7HcB1rLI9mUufVkGItXyNTEcP2Op5tRn1ycOqxt8UlYdimL6D1GcUAN7NyT05aKwIryk-TH3KWVGSSBBGH-kmDnCH2d9IxgXnCcPMKOt3b2QIb9HfRQTg=w1920-h1080" src="" alt="" />
          <img data-src="https://lh3.googleusercontent.com/ko3aW04qXcmxn0kR6cEeADi7dPoEgJDGw3FbBsvdRL0AaKYxzYbzrACVGoo2TRuABOdFgB9yZ1b_mDFRhIXEHXAgI_evuOVuJuRUErcAWX1ZYOnJmuAlxFJe2C2GcQLEFnFmKe9HEw=w1920-h1080" src="" alt="" />
        </div>
    </div>

{% endblock %}