{% extends "layout.html" %}

{% block title %}
    Searched
{% endblock %}

{% block main %}
    <body>
        <center>
            For {{ season }} {{ year }} in {{ college }} College, the position(s) for {{ position }} are:
        </center>
    </body>

    <table class="table" style="width:100%">
          <tr>
            <th>{{ position }}</th>
            <th>Email</th>
          </tr>

          {% for i in range(leng) %}
            <tr>
               <td>{{ names[i] }}</td>
               <td>{{ emails[i] }}</td>
            </tr>
          {% endfor %}
    </table>


{% endblock %}
