{% extends "layout.html" %}


{% block main %}

    <div>
        <h1>The Tyng Cup</h1>
    </div>
    <div>
        <br>
        <p>Awarded annually since 1933, the Tyng Cup is the most coveted of all Intramural Trophies. Each Intramural contest played throughout the year is weighted with a number of Tyng Cup points equal to the amount of atheletes playing at one time. Hence, soccer games are worth 11 Tyng points and basketball games are worth 5. If a college wins a game, they are awarded that number of Tyng Cup Points. Timothy Dwight has won the Tyng Cup the most number of times with 13, and Trumbull the least with 2 wins.</p>
    </div>

{% endblock %}