{% extends "layout.html" %}

{% block title %}
    Update Standings
{% endblock %}

{% block main %}
    <form action="/updatestandings" method="post">
        <div class="form-group">
            <select name="college">
                <option disabled selected value="">College</option>
                <option value="Berkeley">Berkeley</option>
                <option value="Branford">Branford</option>
                <option value="Davenport">Davenport</option>
                <option value="Franklin">Franklin</option>
                <option value="Grace Hopper">Grace Hopper</option>
                <option value="Jonathan Edwards">Jonathan Edwards</option>
                <option value="Morse">Morse</option>
                <option value="Pauli Murray">Pauli Murray</option>
                <option value="Pierson">Pierson</option>
                <option value="Saybrook">Saybrook</option>
                <option value="Silliman">Silliman</option>
                <option value="Stiles">Stiles</option>
                <option value="Timothy Dwight">Timothy Dwight</option>
                <option value="Trumbull">Trumbull</option>
            </select>
        </div>
        <div class="form-group">
            <select name="sport">
                <option disabled selected value="">Sport</option>
                <option value="soccer">Soccer</option>
                <option value="table tennis">Table Tennis</option>
                <option value="volleyball">Volleyball</option>
                <option value="pickleball">Pickleball</option>
                <option value="cross country">Cross Country</option>
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="points" placeholder="Points" type="integer">
        </div>
        <button class="btn btn-primary" type="submit">Submit updates</button>
    </form>
{% endblock %}
